html, body {
	background-color:#1A1A1A;
	margin:0;
}

body {
	border-top:4px 
	solid #eee;
}

.content {
	color:#1A1A1A;
	font:12px/1.4 "helvetica neue",arial,sans-serif;
	margin:20px;
}

a {
	color:#1A1A1A;
	text-decoration:none;
}

.cred {
	margin-top:20px;
	font-size:11px;
}

.galleria { 
	height: 432px; 
	background-color: #1A1A1A;
}

     