head, body {
    background-color: #1A1A1A;
}

a:hover {
	color: #FFFFFF;
	background-color: #1A1A1A;
}

nav a {
	color: #FFFFFF;
}

nav li {
	display: inline;
	font-size: 15px;
}

nav {
	list-style-type: none;
	font-size: 25px;
	position: fixed;
}