head, body {
    background-color: #1A1A1A;
}

/*#gallery-site-name {
	display: inline;
	font-weight: 500;
	font-size: 44px;
	color: white;
	padding-left: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

.galleria-thumbnails {
	margin-left: 45px
}

.galleria-theme-folio .galleria-thumbnails .galleria-image {
	height: 325px;
	width: 325px;
}

h1, h1 {
	font-size: 44px;
	color: white;
	padding-left: 15px;
}

a:hover {
	color: #FFFFFF;
}

nav a {
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
}

.gallery-ul {
	padding-left: 0px;
	text-align: right;
	padding-right: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.gallery-header {
	border-bottom: 1px solid #3d3d3d;
	height: 48px;
}

nav li {
	display: inline;
	font-size: 20px;
	color: white;
}

nav {
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
}
