/* Styling */

/*TODO: create a class for sliders*/

body {
    background-color: #1A1A1A;
   /* background-color: #FFFFFF;*/
}

a:hover {
	color: #FFFFFF;
	background-color: #1A1A1A;
	/*color: #1A1A1A; ;
	background-color: #FFFFFF; */
}

nav a {
	color: #FFFFFF;
	/*color: #1A1A1A;*/
}

nav li {
	display: inline;
}

nav {
	/*background-color: #1A1A1A;*/
	/*background-color: #FFFFFF;*/
	list-style-type: none;
	font-size: 25px;
	position: fixed;
}

#canvas {
	border: 1px solid white; 
	background-color: #1A1A1A;
	/*border: 1px solid black; 
	background-color: #FFFFFF;*/
	padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: auto;
    display: inline-block;
}

#createImg {
	float: right;
	display: inline;
	margin-right: 10px;
}


#save {
	float: right;
	display: inline;
	margin-right: 15px;
}

#clearCanvas {
	float: right;
	display: inline;
	margin-right: 10px;
}


#thickSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}


#depthSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}

#lengthSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}

#angleSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}

#tiltSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}

#orientationSlider {
	float: right;
	width: 300px;
	height: 5px;
    margin: 15px;
}


/* color picker sliders */
 #red, #green, #blue {
    float: right;
    clear: right;
    width: 300px;
    height: 5px;
    margin: 15px;
}

 #swatch {
    width: 120px;
    height: 80px;
    margin-top: 15px;
    margin-left: 150px;
    background-image: none;
}

#red .ui-slider-range { 
	background: #ef2929; 
}

#red .ui-slider-handle { 
	border-color: #ef2929; 
}

#green .ui-slider-range { 
	background: #8ae234; 
}

#green .ui-slider-handle { 
	border-color: #8ae234; 
}

#blue .ui-slider-range { 
	background: #729fcf; 
}

#blue .ui-slider-handle { 
	border-color: #729fcf; 
}
/* end color picker sliders */
