/* Styling */

#collapseOne {
	background-color: #111;
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 1.2em;
	text-align: left;
}

#header {
	height: 62px;
	position: relative;
	background: linear-gradient(#111, #222);
	border-bottom: 1px solid #3d3d3d;
}

.header, body {
    background-color: linear-gradient(#111, #222);
    padding-left: 0;
    padding-right: 0;
}

h1, h1 {
	font-size: 44px;
	color: white;
	padding-left: 15px;
}

a:hover {
	color: #FFFFFF;
}

nav a {
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	padding-left: 0px;
	text-align: center;
	padding-right: 30px;
}

nav li {
	display: inline;
	font-size: 20px;
	color: white;
}

nav {
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
}


#canvas-column {
	position: relative;
}

#canvas {
	background-color: linear-gradient(#111, #222);
	width: 100%;
  	height: 100%;  
  	border-right: 1px solid #3d3d3d;
  	margin: 0px;	
}

p {
	margin: 0px;
}

.col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;

}

#createImg {
	float: right;
	display: inline;
	margin-right: 10px;
}

#addToGallery {
	float: right;
	display: inline;
	margin-right: 10px;

}

#savedAlert {
	color: #222;

}

.sliderLabel {
	text-align: left;
	margin-right: 10px;
	color: #999;
}

.btn {
	background: linear-gradient(#4d4d4d, #2f2f2f);
	color: white !important;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 1.2em;
	text-align: center;

}

#toolbar {
	padding-left: 5px;
	padding-right: 10px;
}

.btn-toolbar {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}

#red-swatch {
	width: 2.8em;
	height: 3em;
	background: #B80000;
}


#yellow-swatch {
	width: 2.8em;
	height: 3em;
	background: #CCFF33;
}

#pink-swatch {
	width: 2.8em;
	height: 3em;
	background: #CC0099;

}

#blue-swatch {
	width: 2.8em;
	height: 3em;
	background: #33CCFF;
}

#green-swatch {
	width: 2.8em;
	height: 3em;
	background: #00FF00;
}

#orange-swatch {
	width: 2.8em;
	height: 3em;
	background: #CC3300;
}

#purple-swatch {
	width: 2.8em;
	height: 3em;
	background: #8904b1;
}

#dark-blue-swatch {
	width: 2.8em;
	height: 3em;
	background: #2E2EFE;
}

#dark-purple-swatch {
	width: 2.8em;
	height: 3em;
	background: #800080;
}

#pale-turquoise-swatch {
	width: 2.8em;
	height: 3em;
	background: #AEEEEE;

}


#light-pink-swatch {
	width: 2.8em;
	height: 3em;
	background: #e5a3ad;
}

#gold-swatch {
	width: 2.8em;
	height: 3em;
	background: #ffa700;
}

#userTools {
	padding-right: 10px;
}

#save {
	float: right;
	display: inline;
	margin-right: 10px;
}

#clearCanvas {
	float: right;
	display: inline;
	margin-right: 10px;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
	width: 1em;
	height: 1em;
	cursor: default;
}

#thickSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}


#depthSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}

#lengthSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}

#angleSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}

#tiltSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}

#orientationSlider {
	float: right;
	width: 320px;
	height: 8px;
    margin: 10px;
}

