/* Styling */

#canvas {
	border: 1px solid black; 
}

figure {
	display: inline-block;
}

img {
	width: 300px; 
	height: 300px;
}

#slider {
	width: 600px; 
	height: 20px;

}

/* color picker */
#red, #green, #blue {
    float: left;
    clear: left;
    width: 400px;
    margin: 15px;
}

#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 450px;
    background-image: none;
}

#red .ui-slider-range { 
	background: #ef2929; 
}

#red .ui-slider-handle { 
	border-color: #ef2929; 
}

#green .ui-slider-range { 
	background: #8ae234; 
}

#green .ui-slider-handle { 
	border-color: #8ae234; 
}

#blue .ui-slider-range { 
	background: #729fcf; 
}

#blue .ui-slider-handle { 
	border-color: #729fcf; 
}
/* end color picker */