
{% extends 'base.html' %}

{% block body %}

 	<p id="about-text"> A space to create, share, and admire art inspired by fractal patterns found in nature. </p>

 	<br><br>

	<!--Image id in database == 142 -->
	<img src="https://s3.amazonaws.com/fractal-art/b2ad90fc-f1e1-4065-986b-3375ff8d7935.png" id="about-tree">
	
	 <style> 
		#about-text {
			color: white;
			font-size: 1.5em;
			text-align: center;
			padding-top: 2em;
			padding-left: 4em;
			padding-right: 4em;
		}
		#about-tree {
			display: block;
			margin-left: auto;
	    	margin-right: auto;
		}
	</style>

{% endblock %}