<!-- HTML for 'About' page goes here. -->

{% extends 'base.html' %}

{% block body %}

<p id="about-text"> Patterns is a space to create, share, and admire abstract art inspired by fractal patterns found in nature. <br><br> Begin with a tree on your canvas, and watch it transform into surprising and unexpected shapes with the movement of your mouse. <br><br> Save your masterpieces to a public art gallery, and while you’re there, be sure to take a look around.</p>

<!--Id == 70 -->
<img src="https://s3.amazonaws.com/fractal-art/ea82973a-bd17-44af-a0b2-453bc5c80546.png" id="about-tree">

 <style> 
	#about-text {
		color: white;
		font-size: 1.5em;
		text-align: center;
		padding-top: 4em;
		padding-left: 4em;
		padding-right: 4em;
	}
	#about-tree {
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}
</style>

{% endblock %}