<!-- This is the base HTML template. -->

<!DOCTYPE html>

<html lang="en">
    <head>  
       <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> 
        <link rel="stylesheet" type="text/css" href="../static/home.css">
        <link rel="stylesheet" type="text/css" href="../static/gallery.css">
        <title>Patterns</title> 
    </head> 
    <body>
        <div class ="container-fluid">
            <div class ="row" id="header"> 
                <div class="col-md-9" style="height:68px;"> <h1 id="siteName"> Patterns </h1> </div>
                <div class="col-md-3" style="height:68px;"> 
                    <nav>
                        <ul>
                            <li><a href="{{url_for('home')}}">Home</a></li> 
                            <li><a href="{{url_for('about')}}">About</a></li> 
                            <li><a href="{{url_for('gallery')}}">Gallery</a></li> 
                        </ul>
                    </nav>
                </div>
            </div>
          
                {% block body %}

            
                {% endblock %}

        </div>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/folio/galleria/galleria-1.4.2.min.js"></script>
    </body>
</html>
