<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.5,user-scalable=no">
        <title>Patterns</title>

        <style>
            html,body{background:#fff;margin:0;}
            body{border-top:4px solid #eee;}
            .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;}
            h1{font-size:12px;font-weight:normal;color:#222;margin:0;}
            p{margin:0 0 0px}
            a {color:#22BCB9;text-decoration:none;}
            .cred{margin-top:20px;font-size:11px;}
            .galleria{ height: 432px; }
        </style>

        <!-- load jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        
        <!-- load Galleria -->
        <script src="../static/folio/galleria/galleria-1.4.2.min.js"></script>

        <!-- load CSS -->
        <link rel="stylesheet" type="text/css" href="../static/gallery.css">

        <div class ="gallery-header" style="height:48px"> 
            <!-- <h1 id="gallery-site-name"> patterns </h1>  -->
            <nav>
                <ul class ="gallery-ul">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('gallery')}}">Gallery</a></li> 
               </ul>
            </nav>
        </div>
    </head>

    <body>
        <br>
        <div class="content">
            <div class="galleria">

            	{% for image in images %}

    			<a href = "https://s3.amazonaws.com/fractal-art/{{image.filename}}">
    					<img src = "https://s3.amazonaws.com/fractal-art/{{image.filename}}" data-big="https://s3.amazonaws.com/fractal-art/{{image.filename}}" data-title="">
    			</a>

    			{% endfor %}     

        </div>
        <script>
            Galleria.loadTheme('../static/folio/galleria/themes/folio/galleria.folio.min.js');

            // Initialize Galleria
            Galleria.run('.galleria');
        </script>
    </body>
</html>