<!-- HTML for 'Home' page goes here. -->

{% extends 'base.html' %}

{% block body %}

<br><br><br>

<div class="row">
  <div class="col-sm-6">
	<canvas id="canvas" width="700" height="600"></canvas>
  </div>
	<div class="col-sm-6">
		<!-- color picker sliders -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<div id="red"></div>
		<div id="green"></div>
		<div id="blue"></div>
		<div id="swatch" class="ui-widget-content ui-corner-all"></div>
		<!-- end color picker sliders -->

		<!-- branch thickness slider -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<div id="thickSlider"></div>
		<!-- end branch thickness slider -->

		<br><br>

		<!-- depth slider -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<div id="depthSlider"></div>
		<!-- end depth slider -->

		<br><br>

		<!-- angle slider -->
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<div id="angleSlider"></div>
		<!-- end angle slider -->
		<br><br>

		<button type="submit" value="submit" name="save" id="save">Add to Gallery</button><br>
		<button type="submit" value="submit" name="clearCanvas" id="clearCanvas">Clear</button>
		
	</div>
</div>

<!-- Get Javascript from draw_to_canvas.js -->
<script type="text/javascript" src="../static/draw_to_canvas.js"></script>

{% endblock %}