<!DOCTYPE html>

<html lang="en">
	<head>  
		<title> Patterns </title>
		<style> 

		#landing-body {
			background: #111;
		}
		#landing-title {
			color: white !important;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 5em;
			text-align: center;
			padding-top: 2em;
			padding-left: 4em;
			padding-right: 4em;
		}
		</style>
	</head>	

	<body id="landing-body">
		<div>
		<h1 id="landing-title"> patterns </h1>
		</div>
		
		<!-- Get Javascript from draw_to_canvas.js -->
		<script type="text/javascript" src="../static/draw_to_canvas.js"></script>
	</body>	
</html>