{% extends 'base.html' %}

{% block body %}

<br>
<br>
We just need a few quick details to save your image!
<br>

<form action="/save" method="POST">
    <!-- FIXME: Validate form so only valid emails are acceptable-->
    <!-- Q: Is using 'for' redundant? -->
    <label for="first_name">First name:</label><input type="text" name="first_name" id="first_name">
    <br>
    <label for="last_name">Last name:</label><input type="text" name="last_name" id="last_name">
    <br>
    <label for="email">Email address:</label><input type="text" name="email" id="email">
    <br>
    <button type="submit" value="submit" name="save" id="save_to_db">Save</button>
</form>    

{% endblock %}